<!-- <footer>
<div class="f-info">
    <div class="f-info-socials">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="f-info-brand">&copy; FortuneVila Private Limited</div>
    <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
</div>
</footer> -->
<footer class="site-footer mt-4">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p><b>FortuneVila Private Limited</b><br>
            Discover your perfect getaway with FortuneVila Private Limited, your trusted partner in finding unique and comfortable accommodations. Whether you’re planning a weekend retreat, a family vacation, or a business trip, we offer a diverse range of properties to suit every need and budget.
            <br><b>Our Mission </b>
                Our mission is to connect travelers with exceptional stays that provide comfort, convenience, and unforgettable experiences. We strive to make every trip special by offering personalized service and a wide selection of high-quality accommodations.</p>
            
        </div>
  
        <div class="col-xs-6 col-md-3">
          <h6>24/7 Support</h6>
          <ul class="footer-links">
            <li><a href="#">Help Centre</a></li>
            <li><a href="#">AirCover</a></li>
            <li><a href="#">Disability support</a></li>
            <li><a href="#">Cancellation options</a></li>
            <li><a href="#">Anti-discrimination</a></li>
            <li><a href="#">Report neighbourhood concerns</a></li>
          </ul>
        </div>
  
        <div class="col-xs-6 col-md-3">
          <h6>Our Services</h6>
          <ul class="footer-links">
            <li><a href="#">Host your home</a></li>
            <li><a href="#">AirCover for Hosts</a></li>
            <li><a href="#">Easy Booking</a></li>
            <li><a href="#">Community forum</a></li>
            <li><a href="#">Verified Listings</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
       <a href="#">Ayush Katiyar</a>.
          </p>
        </div>
  
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa-brands fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
  </footer>